{% extends 'base.html' %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}{% trans 'Добавление товара' %}{% endblock %}
</head>
<body>
    {% block section %}{% trans 'Добавить товар' %}{% endblock %}
    {% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{% trans 'Название товара' %}: {{ form.name }}</p>
        <p>{% trans 'Цена' %}: {{ form.price }}</p>
        <p>{% trans 'Количество' %}: {{ form.quantity }}</p>
        <p>{% trans 'Магазин' %}: {{ form.shop }}</p>
        <button type="submit">{% trans 'Добавить товар' %}</button>
    </form>
        <a href="{% url 'shops_and_product_list' %}">{% trans 'На главную' %}</a>
    {% endblock %}
</body>
</html>